#ide
.idea

# macOS
*.DS_Store

# front-end/jekyll
front
.sass-cache
.jekyll-metadata

# binaries
ear7h-net
/api/home/cli/cli

# headless api binary
api/headless/headless

# generated caddyfile
Caddyfile
